@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    background: #f3f8ff;
    min-height: 100vh;
    margin: 0;
}

.bg-navbar {
    background-color: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(4px) !important;
}

.bg-logo-img {
    background-image: url(../img/rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 74px;
    height: 80px;
    gap: 0px;
    position: relative;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.whatsaap {
    width: 65px;
    height: 65px;
    margin-bottom: -13px;
}

.logo {
    width: 40px;
    height: 40px;
    padding: 1px 3px;
}

a {
    text-decoration: none;
}

.phone {
    background: #fff;
    border-radius: 46px;
    padding: 5px 8px;
    transition: 0.3s ease;
}
.phone:hover{
    background: #0C1B42;
}
.phone:hover a strong{
    color:white;
}

.text-color {
    color: #62b3ff !important;
}

.text-blue-color {
    color: #0585FF;
}

.text-gray {
    color: #8A8A8A;

}

.text-light-gray {
    color: rgba(0, 0, 0, 0.2);
}
.nav-item-effect:hover {
    color: #0C1B42 !important;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.heading-size {
    font-size: 46px !important;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    line-height: 50px;
}

.bg-hero-image {
    background-image: url(../img/Ellipse.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 535px;
    top: 0;
    left: 0;
    gap: 0;
    opacity: 1;
    position: relative;
}

.pharmacy_cartoon {
    width: 74%;
    position: absolute;
    top: 0%;
    left: 10%;
}

.hero-para {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #8a8a8a;
    font-family: "Inter", sans-serif;
}

.main {
    position: relative;
}

.img-float-1 {
    position: absolute;
    width: 151px;
    height: 203px;
    top: 0%;
    left: 55%;
    gap: 0px;
    opacity: 1;
    transition: all 0.3s ease;

}

.img-float-2 {
    position: absolute;
    width: 145px;
    height: 145px;
    top: 38%;
    left: 88%;
    gap: 0px;
    opacity: 1;
    transition: all 0.3s ease;

}

.img-float-3 {
    position: absolute;
    width: 144px;
    height: 144px;
    top: 73%;
    left: 80%;
    gap: 0px;
    opacity: 1;
    transition: all 0.3s ease;

}

.img-float-4 {
    position: absolute;
    width: 88px;
    height: 78px;
    top: 90%;
    transition: all 0.3s ease;
}

.img-float-5 {
    position: absolute;
    top: 0px;
    width: 90px;
    height: 78px;
    transition: all 0.3s ease;
}

.img-float-6 {
    position: absolute;
    top: 85%;
    left: 55%;
    width: 94px;
    height: 94px;
    transition: all 0.3s ease;
}

.img-float-7 {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 114px;
    height: 114px;
    transition: all 0.3s ease;
}

.modal-dialog {
    max-width: 53%;
    width: 100%;
}

.custom-btn {
    background: #2192FE;
    color: #0C1B42;
    border: none;
    padding: 10px 15px;
    width: 50%;
    transition: 0.3s ease;
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
}

.custom-btn strong {
    margin-top: 2px;
}

.custom-btn:hover {
    background: #0C1B42;
    transform: translateY(-2px);
}

.custom-btn:hover .circle-navy {
    background: white;
}

.see-more-btn {
    background-color: #5eaefd;
    background-image: linear-gradient(to right, #5eaefd, #0585FF);
    border: none;
    transition: 0.5s ease;
}

.see-more-btn:hover {
    background: #0C1B42;
    transform: translateY(-2px);
}

.btn-tutorial {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    border-radius: 25px;
    transition: 0.3s ease;
}
.btn-tutorial img{
    border: 1px solid #0C1B42;
    border-radius: 50%;
}

.btn-tutorial:hover {
    background: #0C1B42
}
.btn-tutorial:hover img{
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 1px 1px 8px white;
}

.btn-tutorial:hover span {
    color: white;
}

.description {
    background: #0a0f40;
}

.left-content {
    color: #0585FF;
    font-weight: bolder;
    font-size: 43px;
    width: 50%;
    font-family: "Outfit", sans-serif !important;
}

.text-span {
    color: white;
}

.right-content {
    color: #888888;
    font-size: 25px;
    padding: 10px;
    width: 50%;
    font-family: "Outfit", sans-serif !important;
}

.btn-view {
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    font-weight: bolder;
    color: black;
}

.btn-view:hover {
    background: #0585FF;
    color: #0C1B42;
    transform: translateY(-2px);
}

.how-we-work {
    background: #edf4fc;
}

.work {
    padding-top: 50px;
}

.work-title {
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    color: #359cfe;
    font-family: "Outfit", sans-serif !important;
}

.right-work {
    color: #222222;
    font-size: 25px;
    padding: 10px;
    width: 50%;
    font-family: "Outfit", sans-serif !important;
}

.left-work {
    color: #359cfe;
    font-weight: bold;
    font-size: 45px;
    width: 50%;
    font-family: "Outfit", sans-serif !important;
}

.btn-pricing {
    background: #359cfe;
    color: #0a0f40;
    border-radius: 10px;
    padding: 12px 25px;
    font-weight: bolder;
    transition: 0.3s ease;
}

.btn-pricing:hover {
    background: #0C1B42;
    color: #fff;
    transform: translateY(-2px);
}

.how-we-work {
    position: relative;
}

.work-bg-1 {
    position: absolute;
    top: 0%;
    right: 5%;
    width: 78px;
    height: 78px;
    transition: all 0.3s ease;
}

.work-bg-2 {
    position: absolute;
    top: 75%;
    right: 5%;
    width: 78px;
    height: 78px;
    transition: all 0.3s ease;
}

.pharmacy-record {
    background: #ddeeff;
    padding: 40px 0;
}

.left-pharmacy-content {
    width: 60%;
    padding: 0 20px;
}

.left-pharmacy-content p,
.benefits-details p,
.benefit-rev-details p {
    font-size: 17px;
    color: #0585FF;
}

.left-pharmacy-content h2,
.benefits-details h2,
.benefit-rev-details h2 {
    font-size: 45px;
    color: #0585FF;
}

.right-pharmacy-content {
    width: 40%;
}

.circle {
    background: white;
    border-radius: 50%;
    height: 27px;
    width: 27px;
}

.circle-navy {
    background: white;
    border-radius: 50%;
    height: 27px;
    width: 27px;
    transition: 0.3s ease;
}

.btn-request {
    transition: 0.3s ease;
}

.btn-request:hover {
    background: #0C1B42;
    color: white;
    transform: translateY(-2px);
}

.record {
    position: relative;
}

.pharmacy-capsule {
    position: absolute;
    top: -20%;
    left: 0;
    width: 144px;
    height: 144px;
}

.benefits {
    background: #edf4fc;
    padding: 50px 0;
    position: relative;
}

.left-benefit-content {
    width: 40%;
    background-image: url(../img/cap-2.png);
    background-repeat: no-repeat;
    background-position: -4% 15%;
}

.right-benefit-content {
    width: 60%;
    text-align: right;
}

.benefits-details {
    width: 90%;
}

.benefit-bg-1 {
    position: absolute;
    top: 0%;
    right: 5%;
    width: 78px;
    height: 78px;
    transition: all 0.3s ease;
}

.benefit-bg-2 {
    position: absolute;
    top: 75%;
    right: 5%;
    width: 78px;
    height: 78px;
    transition: all 0.3s ease;
}

.benefits-rev {
    background: #ddeeff;
    padding: 50px 0;
    position: relative;
}

.left-rev-benefit-content {
    width: 60%;
    text-align: right;
}

.benefit-rev-details {
    width: 90%;
}

.right-rev-benefit-content {
    width: 40%;
    background-image: url(../img/capsule.png);
    background-repeat: no-repeat;
    background-position: 104% 15%;
}

.benefit-rev-bg-1 {
    position: absolute;
    top: 0%;
    left: 5%;
    width: 78px;
    height: 78px;
    transition: all 0.3s ease;
}

.benefit-rev-bg-2 {
    position: absolute;
    top: 75%;
    left: 5%;
    width: 78px;
    height: 78px;
    transition: all 0.3s ease;
}

.faq-heading {
    color: #0585FF;
    font-size: 40px;
    text-align: center;
    background: #ddeeff;
    padding: 20px 0;
}

.subscription {
    background-image: url(../img/subs.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription-panel {
    width: 100%;
}

.all-card {
    padding: 20px 10px;
    border-radius: 20px;
}

.plan-card {
    border-radius: 10px;
    padding: 0px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: 0.4s;
}

.card-design:hover {
    background: #2192fe;
}

.card-design:hover .price,
.card-design:hover .plan-title,
.card-design:hover .plan-des,
.card-design:hover .list-unstyled li {
    color: white;
}

.card-design:hover .dot {
    background: white;
}

.plan-card .price {
    font-size: 24px;
    color: #007bff;
    font-weight: bold;
}

.plan-card .plan-title {
    font-size: 36px;
    margin: 10px 0;
    font-weight: bold;
}

.plan-card ul {
    margin-top: 20px;
}

.plan-card ul li {
    font-size: 16px;
    margin-bottom: 10px;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #007bff;
    border-radius: 50%;
    margin-right: 10px;
}

.dot.check {
    background-color: #fff;
    border: 2px solid #007bff;
    border-radius: 50%;
    padding: 5px;
}

.choose-btn {
    margin-top: 20px;
    background-color: #66B2FF;
    border-color: #66B2FF;
    border-radius: 50px;
    padding: 10px 30px;
    font-weight: bold;
}

.business-plan {
    background-color: #2192fe;
    border: 2px solid #007bff;
    margin-top: -15%;
    padding-top: 21%;
}

.most-popular {
    position: absolute;
    top: 2%;
    right: 5%;
    background-color: white;
    color: #007bff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 50px;
}

.footer {
    background: #ddeeff;
}

.menu-all {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "outfit", sens-serif;
}

.menus {
    width: 40%;
    justify-content: space-around;
}

.footer-logo {
    width: 60%;
    justify-content: space-around;
}

.list-heading {
    color: #3c3c3c !important;
    font-weight: 800;
}

.footer-list {
    margin: 0;
    padding-left: 0 !important;
}

.footer-list li {
    color: #007bff;
    padding-bottom: 15px;
    list-style: none;
}

.copy-rights p {
    font-weight: 700;
    color: #007bff;
    padding-bottom: 50px;
}

.latest-update {
    font-weight: 700;
    color: #007bff;
    padding-bottom: 20px;
}

.email-custom {
    background: #007bff;
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
}

.email-custom::placeholder {
    color: white;
}

.email-custom:focus {
    outline: #007bff;
    background: #0C1B42;
}

.mid {
    margin-left: 15%;
}

.footer-main {
    width: 300px;
}

/* Our Product CSS */
.heading-product h1 {
    text-align: center;
}

.product {
    margin: 100px 0;
}

.product-image {
    width: 30%;
}

.product-details {
    width: 50%;
}

.product-details h2 {
    font-size: 37px;
    font-weight: 700;
    color: #0585ff;
    padding-bottom: 2%;
}

.product-details p {
    font-size: 15px;
    font-weight: 600;
    color: #000000;
}

.product-list {
    padding-bottom: 3% !important;
}

.product-list li {
    color: #0585ff;
    font-weight: 600;
    font-size: 15px;
}

.product-details h4 {
    font-size: 28px;
    font-weight: 600;
    color: #000000;
    padding-bottom: 3%;
}

.order-btn {
    background: linear-gradient(to right, #5eaefd, #0585FF);
    color: white;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.order-btn:hover {
    color: white;
    background: #0C1B42;
}

.product-2 {
    margin: 100px 0;
}

.product-2-image {
    width: 30%;
}

/* about us */
.about-us {
    background: linear-gradient(to right, #5eaefd, #0585FF);
    color: white;
    font-family: "Outfit", sens-serif;
}

.about-us-content {
    width: 45%;
    padding: 20px 25px;
}

.about-us-details h1 {
    font-size: 64px;
    font-weight: 800;
    padding-top: 5px;
}

.about-us-details p {
    font-size: 16px;
    font-weight: 400;
    padding-top: 5px;
}

.about-us-details h4 {
    font-size: 24px;
    font-weight: 700;
    padding-top: 20px;
}

.about-us-btn {
    padding-top: 10px;
    margin-bottom: 40px;
}

.about-btn {
    background-color: #5eaefd;
    background-image: linear-gradient(to right, #0585FF);
    border: none;
    transition: 0.5s ease;
    color: white;
    padding: 7px 25px;
    border-radius: 25px;
    box-shadow: 1px 1px 10px white;
    transition: 0.3s ease;
}

.about-btn:hover {
    transform: translateY(-2px);
    background: #0C1B42;
}

.company,
.team {
    width: 80%;
    font-family: "Outfit", sens-serif;
}

.company h2,
.team h2 {
    font-size: 32px;
    font-weight: 800;
}

.company p,
.team p {
    font-size: 16px;
}

.go-home {
    margin-bottom: 100px;
}

.go-btn {
    background: white;
    color: #0585FF;
    border: 1px solid #0585FF;
    border-radius: 25px;
    padding: 8px 20px;
    transition: 0.3s ease;
}

.go-btn:hover {
    background: #0C1B42;
    color: white;
    transform: translateY(-2px);
}

@media (max-width: 991px) {
    .bg-hero-image {
        height: 350px;
        background-size: contain;
    }

    .pharmacy_cartoon {
        max-width: 310px;
        left: 10%;
        top: 9%;
    }

    .img-float-1 {
        width: 100px;
        height: 140px;
        top: 16%;
        left: 60%;
        transform: translateX(-50%);
    }

    .img-float-2 {
        width: 90px;
        height: 70px;
        top: 45%;
        left: 85%
    }

    .img-float-3 {
        width: 80px;
        height: 80px;
        top: 63%;
        left: 75%;
    }

    .img-float-4 {
        width: 50px;
        height: 50px;
        top: 98%;
    }

    .img-float-5 {
        width: 50px;
        height: 50px;
        top: -4%;
    }

    .img-float-6 {
        width: 75px;
        height: 75px;
        top: 75%;
        left: 60%;
        transform: translateX(-50%);
    }

    .img-float-7 {
        width: 90px;
        height: 90px;
        top: 8%;
        right: 5%;
    }

    .hero-section {
        margin-top: 30px;
    }

    .custom-btn {
        background: #2192FE;
        color: #0C1B42;
        border: none;
        padding: 7px 12px;
        font-size: 12px;
        width: 60%;
    }

    .btn-tutorial {
        width: 30%;
        font-size: 10px
    }

    .view-btn {
        width: 100% !important;
    }

    .hero-para {
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #8a8a8a;

    }

    .left-benefit-content {
        width: 100%;
    }

    .right-benefit-content {
        padding-top: 15px;
        width: 100%;
    }

    .benefits-details {
        width: 100%;
        text-align: end;
        margin: auto;
    }

    .benefit-bg-2 {
        position: absolute;
        top: 45%;
        right: 5%;
        width: 78px;
        height: 78px;
        transition: all 0.3s ease;
    }

    .left-rev-benefit-content {
        width: 100%;
    }

    .right-rev-benefit-content {
        padding-top: 15px;
        width: 100%;
    }

    .benefit-rev-details {
        width: 100%;
        text-align: end;
        margin: auto;
    }

    .subscription {
        background-attachment: scroll;
        padding: 50px 0
    }

    .plan-card .price {
        font-size: 22px;
    }

    .plan-card .plan-title {
        font-size: 28px;
    }

    .business-plan {
        margin-top: -5%;
        padding-top: 15%;
    }

    .choose-btn {
        padding: 8px 20px;
    }

    .footer-list li,
    .footer-list li a {
        font-size: 14px;
    }

    .footer-main {
        width: 200px;
    }

    /* our product */
    .product-image {
        width: 40%;
    }

    .product-details {
        width: 50%;
    }

    .product-details h2 {
        font-size: 25px;
        font-weight: 700;
        color: #0585ff;
    }

    .product-details p {
        font-size: 13px;
        font-weight: 600;
        color: #000000;
    }

    .product-list {
        padding-bottom: 0% !important;
    }

    .product-list li {
        color: #0585ff;
        font-weight: 600;
        font-size: 13px;
    }

    .product-details h4 {
        font-size: 21px;
        font-weight: 600;
        color: #000000;
    }

    .order-btn {
        background: linear-gradient(to right, #5eaefd, #0585FF);
        color: white;
        padding-top: 3px;
        padding-bottom: 5px;
        padding-left: 18px;
        padding-right: 18px;
        border-radius: 10px;
        outline: none;
        border: none;
    }

    .order-btn:hover {
        color: white;
        background: #0C1B42;
    }

    .product-2-image {
        width: 40%;
    }

    /* about us */
    .about-us-content {
        width: 80%;
    }
}

/* Phone devices (576px and larger) */
@media (max-width: 767px) {
    .navbar-toggler-icon {
        display: inline-block;
        width: 22px;
        height: 3px;
        margin-top: -2px;
        background-color: #0585Ff;
        position: relative;
        transition: all 0.3s ease;
    }

    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        content: '';
        position: absolute;
        width: 60%;
        height: 100%;
        background-color: #0585FF;
        transition: all 0.3s ease;
    }

    .navbar-toggler-icon::before {
        top: -8px;
    }

    .navbar-toggler-icon::after {
        top: 8px;
    }

    /* Open state */
    .navbar-toggler.open .navbar-toggler-icon {
        background-color: transparent;
    }

    .navbar-toggler.open .navbar-toggler-icon::before {
        transform: rotate(45deg);
        top: 0;
    }

    .navbar-toggler.open .navbar-toggler-icon::after {
        transform: rotate(-45deg);
        top: 0;
    }

    #navbarSupportedContent .navbar-nav .nav-item {
        opacity: 0;
        animation: slideInFromLeft 0.4s ease forwards;
    }

    #navbarSupportedContent .navbar-nav .nav-item:nth-child(1) {
        animation-delay: 0.2s;
    }

    #navbarSupportedContent .navbar-nav .nav-item:nth-child(2) {
        animation-delay: 0.3s;
    }

    #navbarSupportedContent .navbar-nav .nav-item:nth-child(3) {
        animation-delay: 0.4s;
    }

    #navbarSupportedContent .navbar-nav .nav-item:nth-child(4) {
        animation-delay: 0.5s;
    }

    .heading-size {
        font-size: 42px;
    }

    .bg-hero-image {
        height: 250px;
        background-size: contain;
    }

    .pharmacy_cartoon {
        max-width: 192px;
        left: 47%;
        transform: translateX(-50%);
        top: 4%;
    }

    .img-float-1 {
        width: 65px;
        height: 70px;
        top: 65%;
        left: 35%;
        transform: translateX(-50%);
    }

    .img-float-2 {
        width: 70px;
        height: 50px;
        top: 77%;
        left: 60%;
    }

    .img-float-3 {
        width: 70px;
        height: 70px;
        top: 86%;
        left: 52%;
    }

    .img-float-4 {
        width: 40px;
        height: 40px;
        top: 95%;
    }

    .img-float-5 {
        width: 40px;
        height: 40px;
        top: -2%;
    }

    .img-float-6 {
        width: 60px;
        height: 60px;
        top: 78%;
        left: 50%;
        transform: translateX(-50%);
    }

    .img-float-7 {
        width: 70px;
        height: 70px;
        top: 55%;
        right: 25%;
    }

    .hero-section {
        margin-top: 20px;
        text-align: start;
    }

    .hero-para {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: start;
        color: #8a8a8a;
        margin-top: 10px;
    }

    .modal-dialog {
        max-width: 80%;
        width: 100%;
    }

    .content,
    .work-content {
        flex-direction: column;
    }

    .left-content,
    .right-content,
    .left-work,
    .right-work {
        width: 100%;
        padding: 5px 10px;
        text-align: left;
    }

    .left-content .left-work {
        font-size: 30px;
    }

    .right-content,
    .right-work {
        font-size: 18px;
    }

    .left-pharmacy-content {
        width: 100%;
        padding: 5px;
        text-align: left;
    }

    .right-pharmacy-content {
        width: 100%;
        margin-top: 30px;
    }

    .view-btn {
        margin: start;
    }

    .custom-btn {
        background: #2192FE;
        color: #0C1B42;
        border: none;
        padding: 7px 12px;
        font-size: 11px;
        width: 60%;
    }

    .btn-tutorial {
        width: 30%;
        font-size: 10px
    }

    .pharmacy-capsule {
        position: absolute;
        top: -7%;
        left: 0;
        width: 90px;
        height: 90px;
    }

    .left-benefit-content {
        width: 100%;
    }

    .right-benefit-content {
        padding-top: 15px;
        width: 100%;
    }

    .benefits-details {
        width: 100%;
        text-align: end;
        margin: auto;
    }

    .benefit-bg-2 {
        position: absolute;
        top: 38%;
        right: 5%;
        width: 78px;
        height: 78px;
        transition: all 0.3s ease;
    }

    .benefit-rev-content {
        flex-direction: column-reverse;
    }

    .left-rev-benefit-content {
        width: 100%;
    }

    .right-rev-benefit-content {
        padding-top: 15px;
        width: 100%;
    }

    .benefit-rev-details {
        width: 100%;
        text-align: right;
        margin: auto;
    }

    .benefit-rev-bg-2 {
        position: absolute;
        top: 90%;
        left: 5%;
        width: 78px;
        height: 78px;
        transition: all 0.3s ease;
    }

    .plan-card {
        margin-bottom: 20px;
    }

    .business-plan {
        margin-top: 0;
        padding-top: 10%;
    }

    .footer-list li,
    .footer-list li a {
        font-size: 12px;
    }

    .menu-all {
        flex-direction: column;
    }

    .menus {
        width: 100%;
    }

    .footer-logo {
        width: 100%;
    }

    /* our product */
    .product {
        flex-direction: column;
        margin: auto;
        margin-top: 25px;
        background: #ddeeff;
        padding: 20px;
    }

    .product-image {
        width: 100%;
        padding: 10px 10px;
    }

    .product-details {
        width: 100%;
        padding: 10px 10px;
    }

    .product-details h2 {
        font-size: 27px;
        font-weight: 700;
        color: #0585ff;
        padding-bottom: 2%;
        text-align: start;
    }

    .product-details p {
        font-size: 15px;
        font-weight: 600;
        color: #000000;
    }

    .product-list {
        padding-bottom: 3% !important;
    }

    .product-list li {
        color: #0585ff;
        font-weight: 600;
        font-size: 15px;
    }

    .product-details h4 {
        font-size: 28px;
        font-weight: 600;
        color: #000000;
        padding-bottom: 3%;
    }

    .order-btn {
        background: linear-gradient(to right, #5eaefd, #0585FF);
        color: white;
        padding-top: 5px;
        padding-bottom: 7px;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 10px;
        outline: none;
        border: none;
    }

    .product-2 {
        flex-direction: column-reverse;
        padding: 20px;
        margin: 50px 0;
    }

    .product-2-image {
        width: 100%;
        padding-top: 20px;
    }

    /* about us */
    .about-us-content {
        width: 100%;
    }

    .about-us-details h1 {
        font-size: 54px;
        font-weight: 800;
        padding-top: 5px;
    }

    .about-us-details p {
        font-size: 14px;
        font-weight: 400;
        padding-top: 5px;
    }

    .company,
    .team {
        background: #ddeeff;
        padding: 20px;
        width: 100%;
        font-family: "Outfit", sens-serif;
    }
}

/* Very small devices (576px and below) */
@media (max-width : 575px) {
    .heading-size {
        font-size: 40px;
    }

    .bg-hero-image {
        height: 270px;
        background-size: contain;
    }

    .pharmacy_cartoon {
        max-width: 191px;
        left: 48%;
        transform: translateX(-50%);
        top: 11%;
    }

    .img-float-1 {
        width: 50px;
        height: 50px;
        top: 73%;
        left: 28%;
        transform: translateX(-50%);
    }

    .img-float-2 {
        width: 50px;
        height: 55px;
        top: 80%;
        left: 63%;
    }

    .img-float-3 {
        width: 50px;
        height: 50px;
        top: 90%;
        left: 62%;
        transform: translateX(-50%);
    }

    .img-float-4 {
        width: 40px;
        height: 40px;
        top: 93%;
    }

    .img-float-5 {
        width: 40px;
        height: 40px;
        top: -2%;
    }

    .img-float-6 {
        width: 55px;
        height: 55px;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
    }

    .img-float-7 {
        width: 50px;
        height: 50px;
        top: 67%;
        right: 20%;
    }

    .modal-dialog {
        max-width: 96%;
        width: 100%;
    }

    .benefit-bg-1 {
        position: absolute;
        top: -2%;
        right: 5%;
        width: 78px;
        height: 78px;
        transition: all 0.3s ease;
    }

    .benefit-rev-bg-1 {
        position: absolute;
        top: -1%;
        left: 0%;
        width: 78px;
        height: 78px;
        transition: all 0.3s ease;
    }

    .copy-rights {
        margin-top: 80px;
    }

    .menu-all {
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }

    .menus {
        width: 100%;
        justify-content: space-around;
    }

    .footer-logo {
        width: 100%;
    }

    .footer-img img {
        width: 100%;
    }

    .footer-img img {
        width: 180px;
    }

    .email-custom {
        width: 180px;
    }

    .latest-update {
        text-align: center;
    }

    .view-btn {
        width: 100% !important;
    }

    .custom-btn {
        background: #2192FE;
        color: #0C1B42;
        border: none;
        padding: 7px 12px;
        font-size: 11px;
        width: 60%;
    }

    .btn-tutorial {
        width: 40%;
        font-size: 10px
    }

    .see-more-btn {
        background: linear-gradient(to right, #5eaefd, #0585FF);
        border: none;
    }

    .demo-video {
        font-size: 10px;
    }

    /* about us */
    .about-us-details h1 {
        font-size: 48px;
        font-weight: 800;
        padding-top: 5px;
    }

    .about-us-details p {
        font-size: 13px;
        font-weight: 400;
        padding-top: 5px;
    }
}